.el-aside {
  overflow: hidden;
}
.el-tabs__item,
.el-header,
.el-main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.el-menu {
  border: 0;
}
.el-popover {
  min-width: 250px;
}
.el-dropdown-menu {
  padding: 0 20px;
}
.el-container {
  height: 100%;
}
